@use '../settings' as setting;
@use 'sass:map';

@layer layout {
}

@layer theme {
  .c-a,
  .c-entry a {
    color: var(--c-link);

    &:visited {
      color: var(--c-link-visited);
    }

    &:hover {
      color: var(--c-link-hover);
    }

    &:focus,
    &:active {
      color: var(--c-link-engage);
    }
  }

  .c-entry a,
  .c-a--und {
    text-decoration: underline;

    &:hover,
    &:focus,
    &:active {
      text-decoration: none;
    }
  }

	.c-hd-link {
		color: var(--c-txt);
		/*
		&:visited {
      color: var(--c-link-visited);
    }
		*/

		&:hover {
			color: var(--c-hd-link-hover);
		}

		&:focus,
    &:active {
      color: var(--c-hd-link-engage);
    }
	}

	.c-cta-link {
		color: inherit;
		/*
		&:visited {
      color: var(--c-link-visited);
    }
		*/

		&:hover {
			color: var(--c-cta-link-hover);
		}

		&:focus,
    &:active {
      color: var(--c-cta-link-engage);
    }
	}
}
