@use '../settings' as setting;
@use 'sass:map';

@layer layout {
  .c-logo {
  }
}

@layer theme {
  .c-logo {
    &--hd {
      font-size: clamp(
        setting.f-font-size(3xl),
        (map.get(setting.$breakpoints, overs)),
        (setting.f-font-size(m) + setting.f-font-size(3xl))
      );
    }

		&--ft {
			font-size: setting.f-font-size(4xl);
		}

    &--menu {
      font-size: calc(setting.f-font-size(3xl) + setting.f-font-size(m));
    }
		&:hover {
			opacity: calc(1.0 - map.get(setting.$state-ratio, hover));
		}
		&:focus,
		&:active {
			opacity: calc(1.0 - map.get(setting.$state-ratio, engage));
		}
  }
}
