@use '../settings' as setting;
@use 'sass:map';

@layer layout {
  .c-msk {
    display: grid;

    &__surf {
      z-index: 1;
      grid-area: 1 / 1;
    }

    &__src {
      z-index: 0;
      grid-area: 1 / 1;
    }
  }
}

@layer theme {
	.c-msk {
		&__surf {
			&--hero {
				background-color: rgba(map.get(setting.$sys-light, scrim), setting.$scrim-ratio);
				color: map.get(setting.$sys-light, surfaceContainerLowest);
			}
		}
	}
}
