# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
cache
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

*storybook.log
storybook-static

wp/.htaccess
wp/index.php
wp/license.txt
wp/readme.html
wp/wp-*.php
wp/xmlrpc.php
wp/wp-admin/*
wp/wp-content/*
wp/wp-includes/*
!wp/wp-content/themes
wp/wp-content/themes/*
!wp/wp-content/themes/brm-101/
wp/wp-content/themes/brm-101/.DS_Store
!wp/wp-content/themes/brm-101/**/*
